* {
	font-family:sans-serif;
    font-size:1em;
}
body {
	background:url('/m/img/bg.gif') top center;
}
#page {
	width:850px;
	height:auto; min-height:400px;
	margin:100px auto 0px auto;
	background:#ffffff url('/m/img/logo.gif') 20px 0px no-repeat;
	-moz-border-radius:3px; 
	-webkit-border-radius: 3px; 
	border: 1px solid #666;
	position:relative;
}

/** navigation menu **/
#nav { position:absolute; top:10px; left:150px;	height:50px; width:700px;}
#nav ul { padding:0; margin:5px 0 0 35px; }
#nav ul>li { display:inline; list-style:none; padding:0px; margin:0px;}
#nav ul>li>a { display:block; height:14px; margin:15px; float:left; }
#nav ul>li>a:hover, #nav ul>li>a.active { background-position:0px -14px; }
#nav ul>li>a>span { display:none }
#nav-home { width:47px; background:url('/m/img/nav-home.gif') top left no-repeat; }
#nav-bikes { width:49px; background:url('/m/img/nav-bikes.gif') top left no-repeat; }
#nav-accessories { width:115px; background:url('/m/img/nav-accessories.gif') top left no-repeat; }
#nav-softgoods { width:97px; background:url('/m/img/nav-softgoods.gif') top left no-repeat; }
#nav-dealers { width:75px; background:url('/m/img/nav-dealers.gif') top left no-repeat; }
#nav-about { width:55px; background:url('/m/img/nav-about.gif') top left no-repeat; }

#teaser { margin-top:75px; width:100%; min-height:50px; }
#content { padding:10px; }