{% extends "base.html" %}

{% block content %}

<div class="page-title">
  <img src="{{ MEDIA_URL}}/img/title-dealers.gif" />
</div>

<div class="center">
{% for dealer in object_list %}

{% ifchanged dealer.state %}
<a name="{{ dealer.state }}"><h3>{{ dealer.get_state_display }}</h3></a>
{% endifchanged %}

<p>{{ dealer.city }} 
- 

<em><i>
{% if dealer.website %}
  <a href="{{ dealer.website }}">{{ dealer.name }}</a>
{% else %}
  {{ dealer.name }}
{% endif %}
</i></em> 

- 

<span>{{ dealer.phone }}</span></p>

{% endfor %}
</div>

{% endblock %}
