<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

  	<title>{% block head_title %}{% endblock %} Gran Royale Bicycles</title>
  	<link href="/m/css/styles.css" rel="stylesheet" type="text/css"/>
    {% block head %}{% endblock %}

</head>

<body>
  
<div id="page">
   
  <div id="nav">
    <ul>
      <li><a href='#' id="nav-home"><span>HOME</span></a></li>
      <li><a href='#' id="nav-bikes"><span>BIKES</span></a></li>
      <li><a href='#' id="nav-accessories"><span>ACCESSORIES</span></a></li>
      <li><a href='#' id="nav-softgoods"><span>SOFTGOODS</span></a></li>
      <li><a href='#' id="nav-dealers"><span>DEALERS</span></a></li>
      <li><a href='#' id="nav-about"><span>ABOUT</span></a></li>
    </ul>
  </div>

  <div id="teaser">
    <img src="{{ MEDIA_URL }}/img/teaser-zack.gif" />
  </div>
  
  <div id="content">
   {% block content %}{% endblock %}
  </div>

</div>

</body>

