{% extends "base.html" %}

{% block head %}
{% include "slideviewer.html" %}
{% endblock %}

{% block content %}

<div class="product-title">
  <img src="{{ MEDIA_URL}}/img/title-apparel.gif" />
</div>

<div class="product-main-image">
  <div id="slideview" class="svw"> 
    <ul> 
      {% for photo in object.primary_photos.all %}
        <li><img alt="{{ photo.title }}"  src="{{ photo.display.url }}" /></li> 
      {% endfor %}
    </ul> 
  </div>     
</div>

<div>
<p>{{ object.description }}</p>
{% if object.sizes %}<p><em>Sizes</em>: {{ object.sizes }}</p><{% endif %}
{% if object.colors %}<p><em>Colors</em>: {{ object.colors }}</p><{% endif %}
{% if object.msrp %}<p><em>MSRP</em>: {{ object.msrp }}</p><{% endif %}
</div>

<div class="clear">&nbsp;</div>
{% endblock %}
